In [1]:
import tabula
import pandas as pd

In [2]:
date = 17
month = 'april'
month_n = 4

f = open(f"./{month}/{date}/data.csv", "w+")

iedcr2bcc_district = {
    "B. Baria": "Brahamanbaria",
    "Barishal": "Barisal",
    "Chattogram": "Chittagong",
    "Cox’s bazar": "Cox's Bazar",
    "Cumilla": "Comilla",
    "Hobiganj": "Habiganj",
    "Jhalokathi": "Jhalokati",
    "Laksmipur": "Lakshmipur",
    "Moulovi Bazar": "Maulvibazar",
    "Munshigonj": "Munshiganj",
    "Narshingdi": "Narsingdi",
    "Netrokona": "Netrakona",
    "Potuakhali": "Patuakhali",
}

en2bn_district = {
    "Bagerhat": "বাগেরহাট",
    "Bandarban": "বান্দরবান",
    "Barguna": "বরগুনা",
    "Barisal": "বরিশাল",
    "Bhola": "ভোলা",
    "Bogra": "বগুড়া",
    "Brahamanbaria": "ব্রাহ্মণবাড়িয়া",
    "Chandpur": "চাঁদপুর",
    "Chittagong": "চট্টগ্রাম",
    "Chuadanga": "চুয়াডাঙ্গা",
    "Comilla": "কুমিল্লা",
    "Cox's Bazar": "কক্সবাজার",
    "Dhaka": "ঢাকা",
    "Dinajpur": "দিনাজপুর",
    "Faridpur": "ফরিদপুর",
    "Feni": "ফেনী",
    "Gaibandha": "গাইবান্ধা",
    "Gazipur": "গাজীপুর",
    "Gopalganj": "গোপালগঞ্জ",
    "Habiganj": "হবিগঞ্জ",
    "Jamalpur": "জামালপুর",
    "Jessore": "যশোর",
    "Jhalokati": "ঝালকাঠি",
    "Jhenaidah": "ঝিনাইদহ",
    "Joypurhat": "জয়পুরহাট",
    "Khagrachhari": "খাগড়াছড়ি",
    "Khulna": "খুলনা",
    "Kishoreganj": "কিশোরগঞ্জ",
    "Kurigram": "কুড়িগ্রাম",
    "Kushtia": "কুষ্টিয়া",
    "Lakshmipur": "লক্ষ্মীপুর",
    "Lalmonirhat": "লালমনিরহাট",
    "Madaripur": "মাদারীপুর",
    "Magura": "মাগুরা",
    "Manikganj": "মানিকগঞ্জ",
    "Maulvibazar": "মেহেরপুর",
    "Meherpur": "মৌলভীবাজার",
    "Munshiganj": "মুন্সিগঞ্জ",
    "Mymensingh": "ময়মনসিংহ",
    "Naogaon": "নওগাঁ",
    "Narail": "নড়াইল",
    "Narayanganj": "নারায়ণগঞ্জ",
    "Narsingdi": "নরসিংদী",
    "Natore": "নাটোর",
    "Nawabganj": "চাঁপাইনবাবগঞ্জ",
    "Netrakona": "নেত্রকোণা",
    "Nilphamari": "নীলফামারী",
    "Noakhali": "নোয়াখালী",
    "Pabna": "পাবনা",
    "Panchagarh": "পঞ্চগড়",
    "Patuakhali": "পটুয়াখালী",
    "Pirojpur": "পিরোজপুর",
    "Rajbari": "রাজবাড়ী",
    "Rajshahi": "রাজশাহী",
    "Rangamati": "রাঙ্গামাটি",
    "Rangpur": "রংপুর",
    "Satkhira": "সাতক্ষীরা",
    "Shariatpur": "শরীয়তপুর",
    "Sherpur": "শেরপুর",
    "Sirajganj": "সিরাজগঞ্জ",
    "Sunamganj": "সুনামগঞ্জ",
    "Sylhet": "সিলেট",
    "Tangail": "টাঙ্গাইল",
    "Thakurgaon": "ঠাকুরগাঁও"
}



f.write("date" + ',,' + f'{date}.{month_n}.2020' + '\n')

16

In [3]:
df = tabula.read_pdf(f"./{month}/{date}/data.pdf", pages='all', pandas_options={"header": None})

Got stderr: Apr 18, 2020 9:50:49 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

In [4]:
df

[             0                 1      2         3
 0     Division     District/City  Total  Division
 1        Dhaka        Dhaka City    740       740
 2          NaN  Dhaka (District)     28       630
 3          NaN           Gazipur    117       NaN
 4          NaN       Kishoreganj     33       NaN
 5          NaN         Madaripur     23       NaN
 6          NaN         Manikganj      5       NaN
 7          NaN       Narayanganj    289       NaN
 8          NaN        Munshigonj     27       NaN
 9          NaN        Narshingdi     65       NaN
 10         NaN           Rajbari      7       NaN
 11         NaN          Faridpur      2       NaN
 12         NaN           Tangail      9       NaN
 13         NaN        Shariatpur      6       NaN
 14         NaN         Gopalganj     17       NaN
 15  Chattogram        Chattogram     37        92
 16         NaN       Cox’s bazar      1       NaN
 17         NaN           Cumilla     15       NaN
 18         NaN          B. Baria      9       NaN
 19         NaN         Laksmipur     18       NaN
 20         NaN         Bandarban      1       NaN
 21         NaN          Noakhali      2       NaN
 22         NaN              Feni      1       NaN
 23         NaN          Chandpur      8       NaN
 24      Sylhet     Moulovi Bazar      2         7
 25         NaN         Sunamganj      1       NaN
 26         NaN          Hobiganj      1       NaN
 27         NaN            Sylhet      3       NaN
 28     Rangpur           Rangpur      3        37
 29         NaN         Gaibandha     12       NaN
 30         NaN        Nilphamari      6       NaN
 31         NaN       Lalmonirhat      2       NaN
 32         NaN          Kurigram      2       NaN
 33         NaN          Dinajpur      8       NaN
 34         NaN           Rangpur      1       NaN
 35         NaN        Thakurgaon      3       NaN
 36      Khulna           Jessore      1         6
 37    Bagerhat                 1    NaN       NaN
 38      Khulna                 1    NaN       NaN
 39      Narail                 2    NaN       NaN
 40   Chuadanga                 1    NaN       NaN,
              0           1     2     3
 0   Mymensingh  Mymensingh  18.0  42.0
 1          NaN    Jamalpur  12.0   NaN
 2          NaN   Netrokona   7.0   NaN
 3          NaN     Sherpur   5.0   NaN
 4     Barishal     Barguna   5.0  31.0
 5          NaN    Barishal  17.0   NaN
 6          NaN  Potuakhali   2.0   NaN
 7          NaN    Pirojpur   4.0   NaN
 8          NaN  Jhalokathi   3.0   NaN
 9     Rajshahi   Joypurhat   2.0   8.0
 10       Pabna           1   NaN   NaN
 11       Bogra           1   NaN   NaN
 12    Rajshahi           4   NaN   NaN,
                0      1
 0       Location  Total
 1         Adabor      5
 2       Agargaon      2
 3     Armanitola      1
 4        Ashkona      1
 5        Azimpur     11
 6     Babu Bazar     11
 7          Badda      8
 8     Baily Road      3
 9         Banani      8
 10      Bangshal     15
 11    Banianagar      1
 12        Basabo     17
 13   Bashundhora      5
 14     Begunbari      1
 15   Begum Bazar      1
 16      Beribadh      1
 17  Bokshi Bazar      1
 18        Bosila      1
 19     Buet Area      1
 20    Cantonment      1
 21  Central Road      1
 22  Chankharpool      6
 23   Chawk Bazar     10
 24   Dhakkeshori      1
 25         Demra      2
 26     Dhanmondi     18
 27    Dholaikhal      1
 28      Doyaganj      1
 29       Eskaton      6
 30    Faridabagh      1
 31      Farmgate      1
 32      Gendaria     14
 33         Goran      1
 34       Gopibag      3
 35    Green Road     10
 36      Gulistan      3
 37       Gulshan     13
 38    Hatir jhil      1
 39     Hatirpool      3
 40    Hazaribagh     15
 41      Islampur      2
 42      Jailgate      2,
                  0   1
 0        Jatrabari  23
 1         Jigatala   5
 2           Jurain   3
 3       Kallyanpur   1
 4   Kamrangir Char   4
 5        Kazi para   3
 6     Kawran Bazar   1
 7        Kochukhet   1
 8         Khilgaon   1
 9         Khilkhet   1
 10      Koltabazar   1
 11       Kodomtoli   2
 12        Kotowali   4
 13           Kuril   1
 14         Lalbagh  21
 15      Laxmibazar   4
 16        Malitola   1
 17        Malibagh   4
 18         Manikdi   1
 19         Matuail   1
 20   Mirhajaribagh   2
 21        Mirpur-1   8
 22        Mirpur-6   3
 23       Mirpur-10   7
 24       Mirpur-11  13
 25       Mirpur-12  11
 26       Mirpur-13   2
 27       Mirpur-14   6
 28         Mitford  17
 29        Mogbazar  11
 30       Mohakhali  12
 31        Mohonpur   1
 32     Mohammadpur  26
 33        Motijeel   1
 34           Mugda   3
 35        Nawabpur   1
 36       Nawabganj   2
 37         Narinda   3
 38      Nakhalpara   5
 39         Nikunja   1
 40       Pirerbagh   2
 41   Purana Paltan   2
 42       Rajarbagh  13
 43         Rampura   4
 44           Ramna   5
 45       Rayerbagh   1
 46      Rayerbazar   1,
                 0   1
 0       Sabujbagh   2
 1       Sadarghat   1
 2       Sayedabad   1
 3     Science Lab   1
 4   Shah Ali Bagh   2
 5         Shahbag   6
 6   Shakharibazar   7
 7      Shantibagh   1
 8         Shampur   1
 9     Shantinagar   7
 10       Shaymoli   4
 11     Shewrapara   1
 12    Shekher Tek   1
 13   Showari Ghat   3
 14   Siddheshwari   3
 15    Sonir akhra   1
 16       Sutrapur   9
 17        Tejgaon  16
 18  Tezturi Bazar   1
 19       Tolarbag  19
 20      Urdu Road   1
 21         Uttara  20
 22         Vatara   1
 23           Wari  27]

In [5]:
district_info = pd.concat([df[0], df[1]], ignore_index=True).iloc[1:]

In [6]:
district_info

             0                 1    2    3
1        Dhaka        Dhaka City  740  740
2          NaN  Dhaka (District)   28  630
3          NaN           Gazipur  117  NaN
4          NaN       Kishoreganj   33  NaN
5          NaN         Madaripur   23  NaN
6          NaN         Manikganj    5  NaN
7          NaN       Narayanganj  289  NaN
8          NaN        Munshigonj   27  NaN
9          NaN        Narshingdi   65  NaN
10         NaN           Rajbari    7  NaN
11         NaN          Faridpur    2  NaN
12         NaN           Tangail    9  NaN
13         NaN        Shariatpur    6  NaN
14         NaN         Gopalganj   17  NaN
15  Chattogram        Chattogram   37   92
16         NaN       Cox’s bazar    1  NaN
17         NaN           Cumilla   15  NaN
18         NaN          B. Baria    9  NaN
19         NaN         Laksmipur   18  NaN
20         NaN         Bandarban    1  NaN
21         NaN          Noakhali    2  NaN
22         NaN              Feni    1  NaN
23         NaN          Chandpur    8  NaN
24      Sylhet     Moulovi Bazar    2    7
25         NaN         Sunamganj    1  NaN
26         NaN          Hobiganj    1  NaN
27         NaN            Sylhet    3  NaN
28     Rangpur           Rangpur    3   37
29         NaN         Gaibandha   12  NaN
30         NaN        Nilphamari    6  NaN
31         NaN       Lalmonirhat    2  NaN
32         NaN          Kurigram    2  NaN
33         NaN          Dinajpur    8  NaN
34         NaN           Rangpur    1  NaN
35         NaN        Thakurgaon    3  NaN
36      Khulna           Jessore    1    6
37    Bagerhat                 1  NaN  NaN
38      Khulna                 1  NaN  NaN
39      Narail                 2  NaN  NaN
40   Chuadanga                 1  NaN  NaN
41  Mymensingh        Mymensingh   18   42
42         NaN          Jamalpur   12  NaN
43         NaN         Netrokona    7  NaN
44         NaN           Sherpur    5  NaN
45    Barishal           Barguna    5   31
46         NaN          Barishal   17  NaN
47         NaN        Potuakhali    2  NaN
48         NaN          Pirojpur    4  NaN
49         NaN        Jhalokathi    3  NaN
50    Rajshahi         Joypurhat    2    8
51       Pabna                 1  NaN  NaN
52       Bogra                 1  NaN  NaN
53    Rajshahi                 4  NaN  NaN

In [7]:
columns_to_be_dropped = district_info.columns[[0, 3]]

In [8]:
district_info = district_info.drop(columns_to_be_dropped, axis=1).dropna(how='any')

In [9]:
district_info.columns = ['district', 'total']

In [10]:
district_info.total = district_info.total.astype(int)

In [11]:
district_info = district_info.replace({'district': {'Dhaka City':'Dhaka'}}).replace({'district': {'Dhaka (District)':'Dhaka'}}).groupby('district', as_index=False).sum().sort_values(by=['total'], ascending=False)

In [12]:
for d, t in zip(district_info['district'].tolist(), district_info['total'].tolist()):
    if d in iedcr2bcc_district.keys():
        d = iedcr2bcc_district[d]
#     f.write(d + ',' + en2bn_district[d] + ',' + str(t) + "\n")
    f.write(d + ',,' + str(t) + "\n")

In [13]:
f.close()