In [1]:
import tabula
import pandas as pd

In [2]:
date = 16
month = 'april'
month_n = 4

f = open(f"./{month}/{date}/data.csv", "w+")

iedcr2bcc_district = {
    "B. Baria": "Brahamanbaria",
    "Barishal": "Barisal",
    "Chattogram": "Chittagong",
    "Cox’s bazar": "Cox's Bazar",
    "Cumilla": "Comilla",
    "Hobiganj": "Habiganj"
    "Jhalokathi": "Jhalokati",
    "Laksmipur": "Lakshmipur",
    "Moulovi Bazar": "Maulvibazar",
    "Munshigonj": "Munshiganj",
    "Narshingdi": "Narsingdi",
    "Netrokona": "Netrakona",
    "Potuakhali": "Patuakhali",
}

en2bn_district = {
    "Bagerhat": "বাগেরহাট",
    "Bandarban": "বান্দরবান",
    "Barguna": "বরগুনা",
    "Barisal": "বরিশাল",
    "Bhola": "ভোলা",
    "Bogra": "বগুড়া",
    "Brahamanbaria": "ব্রাহ্মণবাড়িয়া",
    "Chandpur": "চাঁদপুর",
    "Chittagong": "চট্টগ্রাম",
    "Chuadanga": "চুয়াডাঙ্গা",
    "Comilla": "কুমিল্লা",
    "Cox's Bazar": "কক্সবাজার",
    "Dhaka": "ঢাকা",
    "Dinajpur": "দিনাজপুর",
    "Faridpur": "ফরিদপুর",
    "Feni": "ফেনী",
    "Gaibandha": "গাইবান্ধা",
    "Gazipur": "গাজীপুর",
    "Gopalganj": "গোপালগঞ্জ",
    "Habiganj": "হবিগঞ্জ",
    "Jamalpur": "জামালপুর",
    "Jessore": "যশোর",
    "Jhalokati": "ঝালকাঠি",
    "Jhenaidah": "ঝিনাইদহ",
    "Joypurhat": "জয়পুরহাট",
    "Khagrachhari": "খাগড়াছড়ি",
    "Khulna": "খুলনা",
    "Kishoreganj": "কিশোরগঞ্জ",
    "Kurigram": "কুড়িগ্রাম",
    "Kushtia": "কুষ্টিয়া",
    "Lakshmipur": "লক্ষ্মীপুর",
    "Lalmonirhat": "লালমনিরহাট",
    "Madaripur": "মাদারীপুর",
    "Magura": "মাগুরা",
    "Manikganj": "মানিকগঞ্জ",
    "Maulvibazar": "মেহেরপুর",
    "Meherpur": "মৌলভীবাজার",
    "Munshiganj": "মুন্সিগঞ্জ",
    "Mymensingh": "ময়মনসিংহ",
    "Naogaon": "নওগাঁ",
    "Narail": "নড়াইল",
    "Narayanganj": "নারায়ণগঞ্জ",
    "Narsingdi": "নরসিংদী",
    "Natore": "নাটোর",
    "Nawabganj": "চাঁপাইনবাবগঞ্জ",
    "Netrakona": "নেত্রকোণা",
    "Nilphamari": "নীলফামারী",
    "Noakhali": "নোয়াখালী",
    "Pabna": "পাবনা",
    "Panchagarh": "পঞ্চগড়",
    "Patuakhali": "পটুয়াখালী",
    "Pirojpur": "পিরোজপুর",
    "Rajbari": "রাজবাড়ী",
    "Rajshahi": "রাজশাহী",
    "Rangamati": "রাঙ্গামাটি",
    "Rangpur": "রংপুর",
    "Satkhira": "সাতক্ষীরা",
    "Shariatpur": "শরীয়তপুর",
    "Sherpur": "শেরপুর",
    "Sirajganj": "সিরাজগঞ্জ",
    "Sunamganj": "সুনামগঞ্জ",
    "Sylhet": "সিলেট",
    "Tangail": "টাঙ্গাইল",
    "Thakurgaon": "ঠাকুরগাঁও"
}



f.write("date" + ',,' + f'{date}.{month_n}.2020' + '\n')

16

In [3]:
df = tabula.read_pdf(f"./{month}/{date}/data.pdf", pages='all', pandas_options={"header": None})

Got stderr: Apr 16, 2020 6:19:27 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

In [4]:
df

[             0                 1      2         3
 0     Division     District/City  Total  Division
 1        Dhaka        Dhaka City    608       608
 2          NaN  Dhaka (District)     28       527
 3          NaN           Gazipur     82       NaN
 4          NaN       Kishoreganj     22       NaN
 5          NaN         Madaripur     23       NaN
 6          NaN         Manikganj      5       NaN
 7          NaN       Narayanganj    255       NaN
 8          NaN        Munshigonj     26       NaN
 9          NaN        Narshingdi     43       NaN
 10         NaN           Rajbari      7       NaN
 11         NaN          Faridpur      2       NaN
 12         NaN           Tangail      9       NaN
 13         NaN           Sherpur      2       NaN
 14         NaN        Shariatpur      6       NaN
 15         NaN         Gopalganj     17       NaN
 16  Chattogram        Chattogram     36        69
 17         NaN       Cox’s bazar      1       NaN
 18         NaN           Cumilla     14       NaN
 19         NaN          B. Baria      8       NaN
 20         NaN         Laksmipur      1       NaN
 21         NaN          Noakhali      2       NaN
 22         NaN          Chandpur      7       NaN
 23      Sylhet     Moulovi Bazar      2         7
 24         NaN         Sunamganj      1       NaN
 25         NaN          Hobiganj      1       NaN
 26         NaN            Sylhet      3       NaN
 27     Rangpur           Rangpur      3        37
 28         NaN         Gaibandha     13       NaN
 29         NaN        Nilphamari      6       NaN
 30         NaN       Lalmonirhat      2       NaN
 31         NaN          Kurigram      2       NaN
 32         NaN          Dinajpur      8       NaN
 33         NaN        Thakurgaon      3       NaN
 34      Khulna            Khulna      1         3
 35         NaN            Narail      1       NaN
 36         NaN         Chuadanga      1       NaN
 37  Mymensingh        Mymensingh      9        30
 38    Jamalpur                12    NaN       NaN
 39   Netrokona                 6    NaN       NaN
 40     Sherpur                 3    NaN       NaN
 41     Barguna                 4    NaN       NaN,
           0           1   2     3
 0       NaN    Barishal  12  25.0
 1       NaN  Potuakhali   2   NaN
 2       NaN    Pirojpur   4   NaN
 3       NaN  Jhalokathi   3   NaN
 4  Rajshahi    Rajshahi   4   4.0,
                0      1
 0       Location  Total
 1         Adabor      5
 2       Agargaon      2
 3     Armanitola      1
 4        Ashkona      1
 5        Azimpur     11
 6     Babu Bazar     11
 7          Badda      8
 8     Baily Road      3
 9         Banani      8
 10      Bangshal      9
 11    Banianagar      1
 12        Basabo     17
 13   Bashundhora      5
 14     Begunbari      1
 15   Begum Bazar      1
 16      Beribadh      1
 17  Bokshi Bazar      1
 18        Bosila      1
 19     Buet Area      1
 20  Central Road      1
 21  Chankharpool      5
 22   Chawk Bazar      9
 23   Dhakkeshori      1
 24     Dhanmondi     18
 25    Dholaikhal      1
 26      Doyaganj      1
 27       Eskaton      2
 28    Faridabagh      1
 29      Farmgate      1
 30      Gendaria     14
 31       Gopibag      3
 32    Green Road     10
 33      Gulistan      2
 34       Gulshan     13
 35    Hatir jhil      1
 36     Hatirpool      3
 37    Hazaribagh     11
 38      Islampur      2
 39      Jailgate      2
 40     Jatrabari     23
 41      Jigatala      5
 42        Jurain      1,
                  0   1
 0       Kallyanpur   1
 1   Kamrangir Char   3
 2        Kazi para   2
 3     Kawran Bazar   1
 4        Kochukhet   1
 5         Khilgaon   1
 6        Kodomtoli   1
 7         Kotowali   3
 8            Kuril   1
 9          Lalbagh  21
 10      Laxmibazar   4
 11        Malibagh   4
 12         Manikdi   1
 13         Matuail   1
 14   Mirhajaribagh   2
 15        Mirpur-1   8
 16        Mirpur-6   3
 17       Mirpur-10   6
 18       Mirpur-11  11
 19       Mirpur-12  10
 20       Mirpur-13   2
 21       Mirpur-14   5
 22         Mitford   2
 23        Mogbazar  10
 24       Mohakhali  12
 25     Mohammadpur  22
 26        Motijeel   1
 27           Mugda   2
 28        Nawabpur   1
 29         Narinda   3
 30      Nakhalpara   5
 31         Nikunja   1
 32       Pirerbagh   2
 33   Purana Paltan   2
 34       Rajarbagh   8
 35         Rampura   3
 36           Ramna   1
 37       Rayerbagh   1
 38      Rayerbazar   1
 39       Sabujbagh   2
 40       Sayedabad   1
 41     Science Lab   1
 42   Shah Ali Bagh   2
 43         Shahbag   4
 44   Shakharibazar   6
 45      Shantibagh   1
 46         Shampur   1,
                 0   1
 0     Shantinagar   7
 1        Shaymoli   3
 2      Shewrapara   1
 3     Shekher Tek   1
 4    Showari Ghat   3
 5    Siddheshwari   3
 6     Sonir akhra   1
 7        Sutrapur   7
 8         Tejgaon  16
 9   Tezturi Bazar   1
 10       Tolarbag  19
 11      Urdu Road   1
 12         Uttara  20
 13         Vatara   1
 14           Wari  27]

In [5]:
district_info = pd.concat([df[0], df[1]], ignore_index=True).iloc[1:]

In [6]:
district_info

             0                 1    2    3
1        Dhaka        Dhaka City  608  608
2          NaN  Dhaka (District)   28  527
3          NaN           Gazipur   82  NaN
4          NaN       Kishoreganj   22  NaN
5          NaN         Madaripur   23  NaN
6          NaN         Manikganj    5  NaN
7          NaN       Narayanganj  255  NaN
8          NaN        Munshigonj   26  NaN
9          NaN        Narshingdi   43  NaN
10         NaN           Rajbari    7  NaN
11         NaN          Faridpur    2  NaN
12         NaN           Tangail    9  NaN
13         NaN           Sherpur    2  NaN
14         NaN        Shariatpur    6  NaN
15         NaN         Gopalganj   17  NaN
16  Chattogram        Chattogram   36   69
17         NaN       Cox’s bazar    1  NaN
18         NaN           Cumilla   14  NaN
19         NaN          B. Baria    8  NaN
20         NaN         Laksmipur    1  NaN
21         NaN          Noakhali    2  NaN
22         NaN          Chandpur    7  NaN
23      Sylhet     Moulovi Bazar    2    7
24         NaN         Sunamganj    1  NaN
25         NaN          Hobiganj    1  NaN
26         NaN            Sylhet    3  NaN
27     Rangpur           Rangpur    3   37
28         NaN         Gaibandha   13  NaN
29         NaN        Nilphamari    6  NaN
30         NaN       Lalmonirhat    2  NaN
31         NaN          Kurigram    2  NaN
32         NaN          Dinajpur    8  NaN
33         NaN        Thakurgaon    3  NaN
34      Khulna            Khulna    1    3
35         NaN            Narail    1  NaN
36         NaN         Chuadanga    1  NaN
37  Mymensingh        Mymensingh    9   30
38    Jamalpur                12  NaN  NaN
39   Netrokona                 6  NaN  NaN
40     Sherpur                 3  NaN  NaN
41     Barguna                 4  NaN  NaN
42         NaN          Barishal   12   25
43         NaN        Potuakhali    2  NaN
44         NaN          Pirojpur    4  NaN
45         NaN        Jhalokathi    3  NaN
46    Rajshahi          Rajshahi    4    4

In [7]:
columns_to_be_dropped = district_info.columns[[0, 3]]

In [10]:
district_info = district_info.drop(columns_to_be_dropped, axis=1).dropna(how='any')

In [11]:
district_info.columns = ['district', 'total']

In [12]:
district_info.total = district_info.total.astype(int)

In [13]:
district_info = district_info.replace({'district': {'Dhaka City':'Dhaka'}}).replace({'district': {'Dhaka (District)':'Dhaka'}}).groupby('district', as_index=False).sum().sort_values(by=['total'], ascending=False)

In [14]:
for d, t in zip(district_info['district'].tolist(), district_info['total'].tolist()):
    if d in iedcr2bcc_district.keys():
        d = iedcr2bcc_district[d]
#     f.write(d + ',' + en2bn_district[d] + ',' + str(t) + "\n")
    f.write(d + ',,' + str(t) + "\n")

In [15]:
f.close()