In [1]:
import tabula
import pandas as pd

In [2]:
date = 20
month = 'april'
month_n = 4

f = open(f"./{month}/{date}/data.csv", "w+")

iedcr2bcc_district = {
    "B. Baria": "Brahamanbaria",
    "Barishal": "Barisal",
    "Chattogram": "Chittagong",
    "Cox’s bazar": "Cox's Bazar",
    "Cumilla": "Comilla",
    "Hobiganj": "Habiganj",
    "Jhalokathi": "Jhalokati",
    "Laksmipur": "Lakshmipur",
    "Moulovi Bazar": "Maulvibazar",
    "Munshigonj": "Munshiganj",
    "Narshingdi": "Narsingdi",
    "Netrokona": "Netrakona",
    "Panchagar": "Panchagarh",
    "Potuakhali": "Patuakhali",
}

en2bn_district = {
    "Bagerhat": "বাগেরহাট",
    "Bandarban": "বান্দরবান",
    "Barguna": "বরগুনা",
    "Barisal": "বরিশাল",
    "Bhola": "ভোলা",
    "Bogra": "বগুড়া",
    "Brahamanbaria": "ব্রাহ্মণবাড়িয়া",
    "Chandpur": "চাঁদপুর",
    "Chittagong": "চট্টগ্রাম",
    "Chuadanga": "চুয়াডাঙ্গা",
    "Comilla": "কুমিল্লা",
    "Cox's Bazar": "কক্সবাজার",
    "Dhaka": "ঢাকা",
    "Dinajpur": "দিনাজপুর",
    "Faridpur": "ফরিদপুর",
    "Feni": "ফেনী",
    "Gaibandha": "গাইবান্ধা",
    "Gazipur": "গাজীপুর",
    "Gopalganj": "গোপালগঞ্জ",
    "Habiganj": "হবিগঞ্জ",
    "Jamalpur": "জামালপুর",
    "Jessore": "যশোর",
    "Jhalokati": "ঝালকাঠি",
    "Jhenaidah": "ঝিনাইদহ",
    "Joypurhat": "জয়পুরহাট",
    "Khagrachhari": "খাগড়াছড়ি",
    "Khulna": "খুলনা",
    "Kishoreganj": "কিশোরগঞ্জ",
    "Kurigram": "কুড়িগ্রাম",
    "Kushtia": "কুষ্টিয়া",
    "Lakshmipur": "লক্ষ্মীপুর",
    "Lalmonirhat": "লালমনিরহাট",
    "Madaripur": "মাদারীপুর",
    "Magura": "মাগুরা",
    "Manikganj": "মানিকগঞ্জ",
    "Maulvibazar": "মেহেরপুর",
    "Meherpur": "মৌলভীবাজার",
    "Munshiganj": "মুন্সিগঞ্জ",
    "Mymensingh": "ময়মনসিংহ",
    "Naogaon": "নওগাঁ",
    "Narail": "নড়াইল",
    "Narayanganj": "নারায়ণগঞ্জ",
    "Narsingdi": "নরসিংদী",
    "Natore": "নাটোর",
    "Nawabganj": "চাঁপাইনবাবগঞ্জ",
    "Netrakona": "নেত্রকোণা",
    "Nilphamari": "নীলফামারী",
    "Noakhali": "নোয়াখালী",
    "Pabna": "পাবনা",
    "Panchagarh": "পঞ্চগড়",
    "Patuakhali": "পটুয়াখালী",
    "Pirojpur": "পিরোজপুর",
    "Rajbari": "রাজবাড়ী",
    "Rajshahi": "রাজশাহী",
    "Rangamati": "রাঙ্গামাটি",
    "Rangpur": "রংপুর",
    "Satkhira": "সাতক্ষীরা",
    "Shariatpur": "শরীয়তপুর",
    "Sherpur": "শেরপুর",
    "Sirajganj": "সিরাজগঞ্জ",
    "Sunamganj": "সুনামগঞ্জ",
    "Sylhet": "সিলেট",
    "Tangail": "টাঙ্গাইল",
    "Thakurgaon": "ঠাকুরগাঁও"
}



f.write("date" + ',,' + f'{date}.{month_n}.2020' + '\n')

16

In [3]:
df = tabula.read_pdf(f"./{month}/{date}/data.pdf", pages='all', pandas_options={"header": None})

Got stderr: Apr 20, 2020 8:37:52 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

In [4]:
df

[             0                 1      2         3
 0     Division     District/City  Total  Division
 1        Dhaka        Dhaka City   1174      1174
 2          NaN  Dhaka (District)     42      1106
 3          NaN           Gazipur    269       NaN
 4          NaN       Kishoreganj    146       NaN
 5          NaN         Madaripur     25       NaN
 6          NaN         Manikganj      7       NaN
 7          NaN       Narayanganj    387       NaN
 8          NaN        Munshigonj     33       NaN
 9          NaN        Narshingdi    135       NaN
 10         NaN           Rajbari      8       NaN
 11         NaN          Faridpur      6       NaN
 12         NaN           Tangail     10       NaN
 13         NaN        Shariatpur      8       NaN
 14         NaN         Gopalganj     30       NaN
 15  Chattogram        Chattogram     43       118
 16         NaN       Cox’s bazar      1       NaN
 17         NaN           Cumilla     21       NaN
 18         NaN          B. Baria     11       NaN
 19         NaN         Laksmipur     25       NaN
 20         NaN         Bandarban      1       NaN
 21         NaN          Noakhali      4       NaN
 22         NaN              Feni      2       NaN
 23         NaN          Chandpur     10       NaN
 24      Sylhet     Moulovi Bazar      2         8
 25         NaN         Sunamganj      1       NaN
 26         NaN          Hobiganj      1       NaN
 27         NaN            Sylhet      4       NaN
 28     Rangpur           Rangpur      6        50
 29         NaN         Gaibandha     13       NaN
 30         NaN        Nilphamari      9       NaN
 31         NaN       Lalmonirhat      2       NaN
 32         NaN          Kurigram      2       NaN
 33         NaN          Dinajpur     11       NaN
 34         NaN         Panchagar      1       NaN
 35         NaN        Thakurgaon      6       NaN
 36      Khulna            Khulna      3         9
 37         NaN           Jessore      1       NaN
 38         NaN          Bagerhat      2       NaN
 39         NaN            Narail      2       NaN
 40         NaN         Chuadanga      1       NaN
 41  Mymensingh        Mymensingh     33        81
 42         NaN          Jamalpur     21       NaN
 43         NaN         Netrokona     14       NaN
 44         NaN           Sherpur     13       NaN
 45    Barishal           Barguna     12        47
 46         NaN          Barishal     24       NaN
 47         NaN        Potuakhali      2       NaN
 48         NaN          Pirojpur      5       NaN
 49         NaN        Jhalokathi      4       NaN
 50    Rajshahi         Joypurhat      2        12
 51       Pabna                 2    NaN       NaN
 52       Bogra                 1    NaN       NaN
 53     Naogaon                 1    NaN       NaN
 54   Sirajganj                 1    NaN       NaN
 55    Rajshahi                 5    NaN       NaN
 56         NaN               NaN    NaN       NaN]

In [5]:
# district_info = pd.concat([df[0], df[1]], ignore_index=True).iloc[1:]
district_info = df[0].iloc[1:]

In [6]:
corrupt_data = district_info[district_info[2].isnull()]

In [7]:
corrupt_data = corrupt_data.drop(corrupt_data.columns[[2,3]], axis=1).dropna(how='any')

In [8]:
columns_to_be_dropped = district_info.columns[[0, 3]]

In [9]:
district_info = district_info.drop(columns_to_be_dropped, axis=1).dropna(how='any')

In [10]:
district_info.columns = corrupt_data.columns = ['district', 'total']

In [11]:
district_info = pd.concat([district_info, corrupt_data], ignore_index=True)

In [12]:
district_info.total = district_info.total.astype(int)

In [13]:
district_info = district_info.replace({'district': {'Dhaka City':'Dhaka'}}).replace({'district': {'Dhaka (District)':'Dhaka'}}).groupby('district', as_index=False).sum().sort_values(by=['total'], ascending=False)

In [14]:
print("Number of districts: ", district_info.shape[0])
print("Total confirmed: ", district_info['total'].sum())
print(district_info)

Number of districts:  54
Total confirmed:  2605
         district  total
11          Dhaka   1216
35    Narayanganj    387
16        Gazipur    269
24    Kishoreganj    146
36     Narshingdi    135
7      Chattogram     43
32     Mymensingh     33
31     Munshigonj     33
17      Gopalganj     30
28      Madaripur     25
26      Laksmipur     25
4        Barishal     24
10        Cumilla     21
19       Jamalpur     21
37      Netrokona     14
48        Sherpur     13
15      Gaibandha     13
3         Barguna     12
0        B. Baria     11
12       Dinajpur     11
6        Chandpur     10
52        Tangail     10
38     Nilphamari      9
47     Shariatpur      8
44        Rajbari      8
29      Manikganj      7
46        Rangpur      6
53     Thakurgaon      6
13       Faridpur      6
45       Rajshahi      5
42       Pirojpur      5
39       Noakhali      4
51         Sylhet      4
21     Jhalokathi      4
23         Khulna      3
1        Bagerhat      2
43     Potuakhali      2
25       Kurigram      2
40          Pabna      2
27    Lalmonirhat      2
14           Feni      2
34         Narail      2
22      Joypurhat      2
30  Moulovi Bazar      2
18       Hobiganj      1
20        Jessore      1
33        Naogaon      1
9     Cox’s bazar      1
8       Chuadanga      1
5           Bogra      1
49      Sirajganj      1
50      Sunamganj      1
2       Bandarban      1
41      Panchagar      1

In [15]:
for d, t in zip(district_info['district'].tolist(), district_info['total'].tolist()):
    if d in iedcr2bcc_district.keys():
        d = iedcr2bcc_district[d]
    #f.write(d + ',' + en2bn_district[d] + ',' + str(t) + "\n")
    f.write(d + ',,' + str(t) + "\n")

In [16]:
f.close()