In [1]:
import tabula
import pandas as pd

In [2]:
date = 22
month = 'april'
month_n = 4

f = open(f"./{month}/{date}/data.csv", "w+")

iedcr2bcc_district = {
    "B. Baria": "Brahamanbaria",
    "Barishal": "Barisal",
    "Bogra": "Bogura"
    # "Chattogram": "Chittagong",
    "Cox’s bazar": "Cox's Bazar",
    # "Cumilla": "Comilla",
    "Hobiganj": "Habiganj",
    "Jhalokathi": "Jhalokati",
    "Laksmipur": "Lakshmipur",
    "Moulovi Bazar": "Maulvibazar",
    "Munshigonj": "Munshiganj",
    "Narshingdi": "Narsingdi",
    "Netrokona": "Netrakona",
    "Panchagar": "Panchagarh",
    "Potuakhali": "Patuakhali",
    # "Chapainawabganj": "Nawabganj"
}

en2bn_district = {
    "Bagerhat": "বাগেরহাট",
    "Bandarban": "বান্দরবান",
    "Barguna": "বরগুনা",
    "Barisal": "বরিশাল",
    "Bhola": "ভোলা",
    "Bogura": "বগুড়া",
    "Brahamanbaria": "ব্রাহ্মণবাড়িয়া",
    "Chandpur": "চাঁদপুর",
    "Chattogram": "চট্টগ্রাম",
    "Chuadanga": "চুয়াডাঙ্গা",
    "Cumilla": "কুমিল্লা",
    "Cox's Bazar": "কক্সবাজার",
    "Dhaka": "ঢাকা",
    "Dinajpur": "দিনাজপুর",
    "Faridpur": "ফরিদপুর",
    "Feni": "ফেনী",
    "Gaibandha": "গাইবান্ধা",
    "Gazipur": "গাজীপুর",
    "Gopalganj": "গোপালগঞ্জ",
    "Habiganj": "হবিগঞ্জ",
    "Jamalpur": "জামালপুর",
    "Jessore": "যশোর",
    "Jhalokati": "ঝালকাঠি",
    "Jhenaidah": "ঝিনাইদহ",
    "Joypurhat": "জয়পুরহাট",
    "Khagrachhari": "খাগড়াছড়ি",
    "Khulna": "খুলনা",
    "Kishoreganj": "কিশোরগঞ্জ",
    "Kurigram": "কুড়িগ্রাম",
    "Kushtia": "কুষ্টিয়া",
    "Lakshmipur": "লক্ষ্মীপুর",
    "Lalmonirhat": "লালমনিরহাট",
    "Madaripur": "মাদারীপুর",
    "Magura": "মাগুরা",
    "Manikganj": "মানিকগঞ্জ",
    "Maulvibazar": "মেহেরপুর",
    "Meherpur": "মৌলভীবাজার",
    "Munshiganj": "মুন্সিগঞ্জ",
    "Mymensingh": "ময়মনসিংহ",
    "Naogaon": "নওগাঁ",
    "Narail": "নড়াইল",
    "Narayanganj": "নারায়ণগঞ্জ",
    "Narsingdi": "নরসিংদী",
    "Natore": "নাটোর",
    "Chapainawabganj": "চাঁপাইনবাবগঞ্জ",
    "Netrakona": "নেত্রকোণা",
    "Nilphamari": "নীলফামারী",
    "Noakhali": "নোয়াখালী",
    "Pabna": "পাবনা",
    "Panchagarh": "পঞ্চগড়",
    "Patuakhali": "পটুয়াখালী",
    "Pirojpur": "পিরোজপুর",
    "Rajbari": "রাজবাড়ী",
    "Rajshahi": "রাজশাহী",
    "Rangamati": "রাঙ্গামাটি",
    "Rangpur": "রংপুর",
    "Satkhira": "সাতক্ষীরা",
    "Shariatpur": "শরীয়তপুর",
    "Sherpur": "শেরপুর",
    "Sirajganj": "সিরাজগঞ্জ",
    "Sunamganj": "সুনামগঞ্জ",
    "Sylhet": "সিলেট",
    "Tangail": "টাঙ্গাইল",
    "Thakurgaon": "ঠাকুরগাঁও"
}



f.write("date" + ',,' + f'{date}.{month_n}.2020' + '\n')

16

In [3]:
df = tabula.read_pdf(f"./{month}/{date}/data.pdf", pages='all', pandas_options={"header": None})

Got stderr: Apr 22, 2020 8:46:44 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Apr 22, 2020 8:46:44 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Apr 22, 2020 8:46:45 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

In [4]:
df

[           0                 1      2         3              4
 0   Division     District/City  Total  Division  Percentage(%)
 1        NaN        Dhaka City   1229      1229         36.34%
 2        NaN  Dhaka (District)     48       NaN            NaN
 3        NaN           Gazipur    269       NaN            NaN
 4        NaN       Kishoreganj    146       NaN            NaN
 ..       ...               ...    ...       ...            ...
 56       NaN   Chapainawabganj      1       NaN            NaN
 57  Rajshahi             Bogra      2        21          0.62%
 58       NaN           Naogaon      1       NaN            NaN
 59       NaN         Sirajganj      2       NaN            NaN
 60       NaN          Rajshahi      9       NaN            NaN

 [61 rows x 5 columns],
                 0      1
 0        Location  Total
 1          Adabor      5
 2        Agargaon      5
 3       Aminbazar      1
 4        Amlapara      1
 5      Armanitola      1
 6         Ashkona      1
 7         Azimpur     15
 8      Babu Bazar     11
 9           Badda      9
 10     Baily Road      3
 11       Banasree      1
 12         Banani      8
 13    Banglamotor      1
 14       Bangshal     31
 15     Banianagar      1
 16         Basabo     19
 17    Bashundhora      6
 18      Begunbari      1
 19    Begum Bazar      1
 20       Beribadh      1
 21   Bokshi Bazar      1
 22         Bosila      1
 23      Buet Area      1
 24     Cantonment      2
 25   Central Road      1
 26   Chankharpool      8
 27    Chawk Bazar     31
 28    Dhakkeshori      1
 29          Demra      6
 30      Dhanmondi     26
 31     Dholaikhal      2
 32       Doyaganj      2
 33  Elephant Road      2
 34        Eskaton      8
 35     Faridabagh      1,
                  0   1
 0       Fakirapool   1
 1         Farmgate   2
 2         Gendaria  21
 3         Golartek   1
 4            Goran   3
 5        Gonoktuli   2
 6          Gopibag   6
 7       Green Road  10
 8         Gulistan   4
 9          Gulshan  19
 10      Hatir jhil   1
 11       Hatirpool   3
 12      Hazaribagh  18
 13      Ibrahimpur   2
 14        Islampur   2
 15        Jailgate   2
 16       Jatrabari  35
 17        Jigatala   5
 18          Jurain   9
 19      Kallyanpur   2
 20       Kalabagan   4
 21         Kakrail   2
 22     Kathalbagan   1
 23       Kamalapur   1
 24  Kamrangir Char   4
 25       Kazi para   6
 26    Kawran Bazar   3
 27       Kochukhet   1
 28        Khilgaon   5
 29        Khilkhet   1
 30      Koltabazar   1
 31       Kodomtoli   2
 32        Kotowali   7
 33           Kuril   1
 34         Lalbagh  35
 35      Laxmibazar   5,
                 0   1
 0        Madartek   1
 1        Malitola   1
 2        Malibagh   4
 3      Maniknagar   2
 4         Manikdi   1
 5         Matuail   3
 6   Mirhajaribagh   2
 7        Mirpur-1  11
 8        Mirpur-2   1
 9        Mirpur-6   4
 10      Mirpur-10   8
 11      Mirpur-11  16
 12      Mirpur-12  12
 13      Mirpur-13   2
 14      Mirpur-14  21
 15        Mitford  28
 16       Mogbazar  14
 17      Mohakhali  17
 18       Mohonpur   1
 19    Mohammadpur  44
 20       Motijeel   1
 21          Mugda   8
 22       Nawabpur   1
 23    Nazirabazar   2
 24      Nawabganj   4
 25        Narinda   8
 26        Nilkhet   1
 27     Nakhalpara   6
 28      Nayabazar   7
 29       Neemtoli   4
 30        Nikunja   1
 31        Pallabi   2
 32      Pirerbagh   2
 33      Postogola   2
 34  Purana Paltan   2
 35      Rajarbagh  50,
                 0   1
 0           Ramna   5
 1       Rayerbagh   1
 2      Raja Bazar   1
 3      Rayerbazar   2
 4       Sabujbagh   4
 5       Sadarghat   3
 6       Sahjanpur   4
 7       Sayedabad   2
 8    Segunbagicha   1
 9     Science Lab   1
 10  Shah Ali Bagh   2
 11        Shahbag  11
 12  Shakharibazar  20
 13     Shantibagh   1
 14        Shampur   1
 15    Shantinagar  10
 16       Shaymoli   7
 17     Shewrapara   4
 18    Shekher Tek   1
 19   Showari Ghat   3
 20   Siddheshwari   4
 21    Sonir akhra   3
 22       Sutrapur  12
 23      TatiBazar   2
 24       Tikatoli   8
 25        Tejgaon  23
 26          Turag   1
 27  Tezturi Bazar   1
 28       Tolarbag  19
 29      Urdu Road   1
 30         Uttara  23
 31         Vatara   1
 32           Wari  30]

In [5]:
# district_info = pd.concat([df[0], df[1]], ignore_index=True).iloc[1:]
district_info = df[0].iloc[1:]

In [6]:
#corrupt_data = district_info[district_info[2].isnull()]

In [7]:
# corrupt_data = corrupt_data.drop(corrupt_data.columns[[2,3]], axis=1).dropna(how='any')

In [8]:
columns_to_be_dropped = district_info.columns[[0, 3, 4]]

In [9]:
district_info = district_info.drop(columns_to_be_dropped, axis=1).dropna(how='any')

In [10]:
# corrupt_data.columns = ['district', 'total']
district_info.columns =  ['district', 'total']

In [11]:
# district_info = pd.concat([district_info, corrupt_data], ignore_index=True)

In [12]:
district_info.total = district_info.total.astype(int)

In [13]:
district_info = district_info.replace({'district': {'Dhaka City':'Dhaka'}}).replace({'district': {'Dhaka (District)':'Dhaka'}}).groupby('district', as_index=False).sum().sort_values(by=['total'], ascending=False)

In [14]:
print("Number of districts: ", district_info.shape[0])
print("Total confirmed: ", district_info['total'].sum())
print(district_info)

Number of districts:  55
Total confirmed:  2841
           district  total
12            Dhaka   1277
36      Narayanganj    469
17          Gazipur    269
25      Kishoreganj    146
37       Narshingdi    136
32       Munshigonj     54
8        Chattogram     41
33       Mymensingh     40
4          Barishal     32
18        Gopalganj     30
29        Madaripur     26
11          Cumilla     25
27        Laksmipur     25
20         Jamalpur     22
49          Sherpur     19
38        Netrokona     18
3           Barguna     17
16        Gaibandha     13
53          Tangail     13
0          B. Baria     11
19         Hobiganj     11
13         Dinajpur     11
45          Rajbari     10
6          Chandpur     10
30        Manikganj      9
46         Rajshahi      9
39       Nilphamari      9
48       Shariatpur      8
47          Rangpur      7
44       Potuakhali      7
54       Thakurgaon      6
43         Pirojpur      5
10      Cox’s bazar      5
14         Faridpur      5
52           Sylhet      4
22       Jhalokathi      4
40         Noakhali      4
26         Kurigram      3
23        Joypurhat      3
24           Khulna      3
41            Pabna      3
15             Feni      3
50        Sirajganj      2
5             Bogra      2
31    Moulovi Bazar      2
28      Lalmonirhat      2
9         Chuadanga      2
35           Narail      2
42        Panchagar      1
1          Bagerhat      1
21          Jessore      1
51        Sunamganj      1
34          Naogaon      1
2         Bandarban      1
7   Chapainawabganj      1

In [15]:
for d, t in zip(district_info['district'].tolist(), district_info['total'].tolist()):
    if d in iedcr2bcc_district.keys():
        d = iedcr2bcc_district[d]
    #f.write(d + ',' + en2bn_district[d] + ',' + str(t) + "\n")
    f.write(d + ',,' + str(t) + "\n")

In [16]:
f.close()